<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.twofortyfouram.locale.example.condition.display"
          android:installLocation="internalOnly">

    <!-- For testing -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>
